//------------Carte d'instructions---------------
#card-instructions{
    display: none;
    height: 501px;
    width:414px;
    box-shadow: $shadow-windows;
    background-color: #fff;
    border-radius: 4px;
    padding:20px;
    margin:20px 50px 20px 50px;
    p{
        font-size:14px;
        }
    h5{
        font-size: 16px;
    }
}

//---------------Carte de rendu----------------

.element-disabled{
    display:none;
}
.element-active{
    display: flex;
}
#card-divers {
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 315px;
    height: 501px;
    background-color: #fff;
    border-radius: 4px;
    margin:30px 20px 20px 40px;
    box-shadow: $shadow-windows;
    span{
        background-color:$color-span;
        width:315px;
        height: 54px;
        text-align: center;
        padding-top: 15px;
    }
    #space-commentaire{
        height: 152px;
    }
}