#filter{

    position: absolute;
    left:-500px;
    width: 490px;
    height: 588px;
    z-index: 4;
    opacity: 0.5;
    background-color: $blue-normal;
    transition: left 0.6s;
}
#filter.active{

    left:0px;
}