@mixin button {
    font-size:15px;
    padding-top:9px;
    text-align: center;
    color:#fff;
    background: $blue-normal;
    display: block;
    border-radius: 3px;
    text-decoration: none;
    font-weight: bold;
    padding-right: 6px;
    box-shadow: $shadow-btn;
    height: 28px;
}