// ---------------------Modal d'ajout ou modification----------

#modal-form{
    display:flex;
    justify-content: center;
    z-index: 5;
    position: absolute;
    border-left:solid 2px $blue-normal;
    box-sizing: border-box;
    right: -550px;
    height: 588px;
    width:526px;
    background-color: $fond;
    transition: right 0.6s;
    a{
        color:$blue-normal;
        position: absolute;
        top:16px;
        right:468px;
    }

    form{
        text-align: center;
    }
    input{
        background-color: $color-span;
        border-radius: 3px;
        border:1px solid $blue-dark;
        width: 315px;
        height: 35px;
    }
    input:focus{
        outline: none;
        border-style: none;
        border-color: #719ECE; 
        box-shadow: 0px 5px 3px #719ECE;
    }
    textarea{
        width: 315px;
        height: 140px;
        resize: none;
        border:1px solid $blue-dark;
        background-color: $color-span;
        border-radius: 3px;
        
    }
    textarea:focus{
        outline: none;
        border-style: none;
        border-color: #719ECE; 
        box-shadow: 0px 5px 3px #719ECE;
        padding:10px;
    }
    h3{
        font-size: 1.1em;
    }
    button{
        @include button();
        display: none;
        width: 95px;
        height: 32px;
        margin-left:auto;
        margin-right: auto;
        margin-bottom: 40px;
        margin-top:13px;
        padding:0px;
        border:none;
        cursor: pointer;
    }
    button.active{
        display: block;
    }
    button:hover{
        background: $blue-dark;
    }
    button:active{
        background: $blue-dark;
        box-shadow:2px 2px 2px rgba(0, 0, 0, 0.40) inset; 
    }

}
#modal-form.active{
    right: 10px;
    
}